      <div class="row">
    <div class="col-md-12">
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 7ncididunt ut labore et dolore magna aliqua. Velit esse cillum dolore <code> Some Random code here </code> eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 7roident, sunt in culpa qui officia deserunt mollit anim id est laborum.7
       </p>
       </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h2>Some header</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus odio erat, cursus eu tellus in, tristique tempus sapien. Mauris vestibulum eros at porta placerat. Pellentesque metus diam, tristique a nunc id, maximus mollis justo. Curabitur pellentesque ligula in lorem eleifend ornare.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus odio erat, cursus eu tellus in, tristique tempus sapien. Mauris vestibulum eros at porta placerat. Pellentesque metus diam, tristique a nunc id, maximus mollis justo. Curabitur pellentesque ligula in lorem eleifend ornare.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus odio erat, cursus eu tellus in, tristique tempus sapien.</p>
        </div>


        <div class="col-md-4">
          <h2>Some header</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus odio erat, cursus eu tellus in, tristique tempus sapien. Mauris vestibulum eros at porta placerat. Pellentesque metus diam, tristique a nunc id, maximus mollis justo. Curabitur pellentesque ligula in lorem eleifend ornare. Mauris vestibulum eros at porta.</p>
        </div>


        <div class="col-md-4">
          <h2>Some header</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus odio erat, cursus eu tellus in, tristique tempus sapien. Mauris vestibulum eros at porta placerat. Pellentesque metus diam, tristique a nunc id, maximus mollis justo. Curabitur pellentesque ligula in lorem eleifend ornare.</p>
        </div>
      </div>
